.centered-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Ajuste a altura conforme necessário */
  font-size: 24px; /* Ajuste o tamanho da fonte conforme necessário */
}
