// .page-container{
//   display: flex;

//   align-items: center;
//   height: 100%;
//   background: rgb(2,0,36);
//   background: linear-gradient(202deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 6%, rgba(7,65,158,1) 43%, rgba(0,212,255,1) 61%, rgba(0,212,255,1) 62%);

// }

.login-card {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.login-card-title {
  font-size: 24px;
  text-align: center;
}

.login-form-field {
  width: 100%;
}

.login-button {
  width: 100%;
}


